:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-weight: 400;

	font-size: 8px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.77);
	background: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import 'reset-css';

* {
	box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 1.75rem;
}

input,
button {
	align-self: baseline;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;
	display: inline-block;
	height: 100%;
	border: 1px solid rgba(red, 0.5);
}

#app {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;

	& > .view {
		flex-grow: 1;
	}
}

@import "attribute";

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background: #ffffff;
	}
}
